{{- $codespaces := env "CODESPACES" | not | not -}}{{/* Codespaces dotfiles setup is non-interactive */}}
{{- $email := get . "email" -}}
{{- if (and (not $codespaces) stdinIsATTY) -}}{{/* Interactive setup, so prompt for an email address */}}
{{-   if not $email -}}
{{-     $email = promptString "email" -}}
{{-   end -}}
{{- end -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  name = "Your name"
  codespaces = {{ $codespaces }}
  email = "{{ default "your@email.com" $email }}"
