{{- $codespaces := env "CODESPACES" | not | not -}}
{{- $email := get . "email" -}}
{{- if (or (not stdinIsATTY) $codespaces) -}}{{/* Codespaces dotfiles setup is non-interactive, so set an email address */}}
{{-   $email = "your@email.com" -}}
{{- else -}}{{/* Interactive setup, so prompt for an email address */}}
{{-   if not $email -}}
{{-     $email = promptString "email" -}}
{{-   end -}}
{{- end -}}
sourceDir = "{{ .chezmoi.sourceDir }}"

[data]
  name = "Your name"
  codespaces = {{ $codespaces }}
  email = "{{ $email }}"
